{% extends "base.html" %}
{% block content %}
<div id="app" class="container-fluid">
    <nav class="navbar navbar-light navbar-fixed-top rounded" style="background-color: #e3f2fd;">
        <div class="navbar-brand"><strong>BhavCopy Equity</strong></div>
        
        <form class="form-inline">
            <div class="form-group">
                <input type="search" v-model="equityName" class="form-control" placeholder="Search Equity"><br>
                
            </div>
            <button type="button" class="btn btn-primary btn-rounded" v-on:click="downloadTableData">Download</button>
        </form>
    </nav>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                {% for title in headers %}
                    <th>{{title}}</th>
                {% endfor %}
            </thead>
            <tbody v-if="tableData.length">
                <tr v-for="key in tableData">
                    <td v-for="val in key">
                        [[ val ]]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    new Vue({
        delimiters: ["[[","]]"],
        el: '#app',
        data: {
            equityName: "",
            tableData: {{ body|safe }}
        },
        watch: {
            equityName: function(oldText,newText){
                this.debounceFunction()
            }
        },
        created: function(){
            this.debounceFunction = _.debounce(this.getTableData,500)
        },
        methods: {
            getTableData: function(){
                axios.get('http://localhost:8000/bhavcopy/?render=0&filter='+this.equityName)
                    .then(response => {
                        this.tableData=response.data.body
                    })
                    .catch(error => {
                        this.tableData=[]
                    })
            },
            downloadTableData: function(){
                axios.get('http://localhost:8000/bhavcopy/?download=1&render=0&filter='+this.equityName,
                        {responseType: 'blob'}
                    )
                    .then(response => {
                        const blob = new Blob([response.data],{ type: response.headers['content-type'] })
                        const fname = response.headers['content-disposition']
                        const link = document.createElement('a')
                        link.href = URL.createObjectURL(blob)
                        link.download = response.headers['content-disposition'].substring(fname.indexOf('"') + 1, fname.lastIndexOf('"'));
                        link.click()
                        URL.revokeObjectURL(link.href)  
                        //console.log(response.headers['content-disposition'],response.headers['content-type'])
                    }).catch(error => {
                        alert("Failed to Download")
                    })
            }


        }
    })

</script>
{% endblock %}